/* .lead__pic {
  display: block;
  max-width: 984px;
  min-height: 615px;
} */

/* @media screen and (max-width: 1124px) {
  .lead__pic {
    height: 580px;
    width: 928px;
  }
}

@media screen and (max-width: 984px) {
  .lead__pic {
    height: 480px;
    width: 768px;
  }
}

@media screen and (max-width: 568px) {
  .lead__pic {
    height: 200px;
    width: 320px;
  }
} */
