.photo-grid {
  margin: 0 48px;
  padding: 0;
}

@media screen and (max-width: 928px) {
  .photo-grid {
    margin: 0 24px;
  }
}

@media screen and (max-width: 568px) {
  .photo-grid {
    margin: 0 16px;
  }
}
