.places {
  display: flex;
  flex-direction: column;
  gap: 80px;
  margin: 92px 148px;
  padding: 0;
  font-family: "Inter", Arial, sans-serif;
}

@media screen and (max-width: 1024px) {
  .places {
    margin: 92px 48px;
  }
}
