.place__image {
  width: 460px;
  max-width: 100%;
  min-width: 440px;
  grid-area: img;
}

@media screen and (max-width: 1024px) {
  .place__image {
    width: 440px;
    max-width: 100%;
    min-width: 340px;
  }
}

@media screen and (max-width: 930px) {
  .place__image {
    width: 390px;
    max-width: 100%;
    min-width: 340px;
  }
}

@media screen and (max-width: 768px) {
  .place__image {
    width: 340px;
    max-width: 100%;
    min-width: 320px;
  }
}

@media screen and (max-width: 425px) {
  .place__image {
    min-width: 320px;
  }
}
