.photo-grid__item {
  display: block;
  max-width: 284px;
  min-height: 213px;
  object-fit: contain;
}

@media screen and (max-width: 1180px) {
  .photo-grid__item {
    max-width: 300px;
  }
}

@media screen and (max-width: 930px) {
  .photo-grid__item {
    width: 100%;
    max-width: 352px;
  }
}

@media screen and (max-width: 425px) {
  .photo-grid__item {
    max-width: 288px;
  }
}
