.place__title {
  display: block;
  margin: 0;
  padding: 0;
  width: 460px;
  height: 152px;
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
  color: #fff;
  grid-area: title;
}
