.place__title {
  display: block;
  margin: 0;
  padding: 0;
  max-width: 460px;
  min-height: 100%;
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
  color: #fff;
  grid-area: title;
}

@media screen and (max-width: 1124px) {
  .place__title {
    max-width: 440px;
  }
}

@media screen and (max-width: 984px) {
  .place__title {
    max-width: 340px;
    font-size: 42px;
  }
}

@media screen and (max-width: 568px) {
  .place__title {
    max-width: 288px;
    font-size: 22px;
    line-height: 35px;
  }
}
