.place__grid {
  margin: 92px 0;
  display: grid;
  grid-template-columns: repeat(2, minmax(min-content, max-content));
  grid-template-rows: repeat(2, minmax(min-content, max-content));
  grid-template-areas:
    "title web"
    "img paragraph-top"
    "img paragraph-bottom";
  grid-column-gap: 40px;
  grid-row-gap: 48px;
}
