.lead__title {
  max-width: 720px;
  color: #fff;
  font-style: normal;
  font-weight: 900;
  font-size: 96px;
  line-height: 104%;
  text-align: center;
  margin: 0 auto 32px;
  text-rendering: optimizeLegibility;
}

@media screen and (max-width: 768px) {
  .lead__title {
    font-size: max(12.5vw, 40px);
    margin: 0 24px 32px;
  }
}

@media screen and (max-width: 545px) {
  .lead__title {
    max-width: 288px;
    margin: 0 auto 16px;
    font-size: 40px;
    line-height: 44px;
  }
}
