.lead__image {
  width: 100%;
  max-width: 984px;
  height: auto;
  display: block;
}

@media screen and (max-width: 768px) {
  .lead__image {
    width: 100%;
    max-width: 768px;
    height: auto;
  }
}

@media screen and (max-width: 545px) {
  .lead__image {
    width: 320px;
    height: auto;
  }
}
