.lead__image {
  width: 100%;
  max-width: 984px;
  height: auto;
  display: block;
}

/* @media screen and (max-width: 1180px) {
  .lead__image {
    max-height: 580px;
    min-width: 928px;
    margin: 56px auto 0;
  }
}

@media screen and (max-width: 928px) {
  .lead__image {
    max-height: 480px;
    min-width: 768px;
    margin: 56px auto 0;
  }
}

@media screen and (max-width: 690px) {
  .lead__image {
    min-height: 200px;
    min-width: 320px;
    margin: 40px auto 0;
  }
} */
