.intro__text {
  max-width: 100%;
  width: 720px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 163%;
  color: #fff;
  margin: 40px 0 0;
  padding: 0;
}

@media screen and (max-width: 545px) {
  .intro__text {
    max-width: 285px;
  }
}
