.lang__ru {
  font-family: Inter, Arial;
  font-style: normal;
  text-decoration: none;
  border-bottom: 1px solid;
  color: #fff;
  font-size: 24px;
  font-weight: 400;
  line-height: 28px;
}

@media screen and (max-width: 545px) {
  .lang__ru {
    font-size: 18px;
    line-height: 20px;
  }
}
