.footer__nav {
  display: flex;
  justify-content: space-between;
  max-width: 1184px;
  margin: 92px 48px 24px;
}

@media screen and (max-width: 768px) {
  .footer__nav {
    margin: 88px 24px 24px 24px;
    max-width: 720px;
  }
}

@media screen and (max-width: 690px) {
  .footer__nav {
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 545px) {
  .footer__nav {
    flex-direction: column;
    margin: 64px 16px 24px;
  }
}
