.intro__title {
  display: block;
  font-style: normal;
  font-weight: 900;
  font-size: 54px;
  line-height: 58px;
  color: #fff;
  margin: 0;
  padding: 0;
  text-rendering: optimizeLegibility;
}

@media screen and (max-width: 545px) {
  .intro__title {
    max-width: 288px;
    min-height: 70px;
    font-size: 32px;
    line-height: 35px;
  }
}
